{% extends 'base.html' %}

{% block content %}
<html>
<head>
<style>
.left_header {
	text-align: left;
}

.right_header {
	position: fixed;
	top: 20px;
	right: 0;
	width: 300px;
}
</style>
</head>	

<body>

{% if user.is_authenticated %}
	<p>Welcome {{ user.username }} !!!</p>       
{% endif %}
<center>
<table border="20" cellspacing="10" cellpadding="15">
<br>
<ALIGN=center><font face="Copperplate Gothic Bold"><font size ="6"><B>October 2018</B></font></TD> 		
	<tr>
	<td><font face="Copperplate Gothic Bold"><font size ="4">Sunday</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">Monday</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">Tuesday</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">Wednesday</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">Thursday</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">Friday</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">Saturday</font></td>
	</tr>

	<tr>
	<td></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">1</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">2</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">3</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">4</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">5</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">6</font></td>
	</tr>
	
	<tr>
	<td><font face="Copperplate Gothic Bold"><font size ="4">7</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">8</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">9</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">10</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">11</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">12</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">13</font></td>
	</tr>
	
	<tr>
	<td><font face="Copperplate Gothic Bold"><font size ="4">14</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">15</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">16</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">17</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">18</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">19</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">20</font></td>
	</tr>
	
	<tr>
	<td><font face="Copperplate Gothic Bold"><font size ="4">21</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">22</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">23</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">24</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">25</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">26</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">27</font></td>
	</tr>
	
	<tr>
	<td><font face="Copperplate Gothic Bold"><font size ="4">28</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">29</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">30</font></td>
	<td><font face="Copperplate Gothic Bold"><font size ="4">31</font></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
</table>
</center>

</body>
</html>
{% endblock %}