{% extends 'base.html' %}

{% block content %}
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>	

<body>


<center>
<table>
	<tr>
		<th>Name</th>
		<th>Full Name</th>
		<th>Description</th>
	</tr>
    {% for item in Orgs %}
    <tr> 
		<td>{{ item.Short_Name }}</td>
		<td>{{ item.Full_Name }}</td>
		<td>{{ item.Description }}</td>
    </tr>
    {% endfor %}
</table>
</center>

</body>
</html>
{% endblock %}